@import url("./navbar.css");
@import url("./login.css");
@import url("./menu.css");
@import url("./footer.css");

body {
  background-color: #1a1a1a;
  color: white;
}

body main {
  min-height: 40vw;
  max-width: 80%;
  margin-left: 10%;
}
